body {
    font-family: 'Open Sans', sans-serif;
    background-color: #181818; /* Dark background */
    color: #fff; /* White text */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
header {
    background-color: #423535;
            padding: 20px;
            display: flex; /* Use flexbox for header layout */
            align-items: center; /* Vertically center content */
}
.profile-picture {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make it a circle */
    overflow: hidden; /* Hide any excess image */
    margin-right: 20px; /* Add some space between picture and text */
}
.header-text {
    display: flex;
    flex-direction: column; /* Stack h1 and p vertically */
}
.profile-picture img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Ensure image covers the entire area */
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

.section {
    background-color: #282828; /* Darker section background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
    margin-top: 0;
}

.experience-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
}

.experience-item h3 {
    margin-top: 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill {
    background-color: #383838; /* Darker skill background */
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Hover effect */
}
.skill:hover {
    background-color: #484848; /* Darker hover color */
    cursor: pointer;
  }
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .section {
        width: 90%;
    }

    .skills {
        flex-direction: column;
    }
}